@import '../../styles/variables';

.search-bar-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: $yellow;
	.meli-icon {
		margin-right: 10px;
	}
	.input-container {
		display: flex;
		width: 70%;
		.search-input {
			height: 25px;
			width: 100%;
		}
		img {
			border: 1px solid $base;
			background-color: $base;
			padding: 4px;
		}
	}
}
